body {
    margin: 0;
    background: #000;
}

#video {
    bottom: 0;
    position: absolute;
    display: block;
    width: 99vw;
    height: 80vh;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
}

video.active {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

#input {
    width: 100px;
}

#picture {
    height: 80vh;
    width: 99vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

#control {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

#control form,
#control label {
    margin: 0;
}

#control form>button {
    height: 100%;
}

#wrap {
    height: 80vh;
    position: relative;
    width: 100vw;
    z-index: 0;
}