{% load static %}

<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} | スマホでポケモンずかん</title>
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'myapp/css/common.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/index.css' %}">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
</head>

<body id="wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav ml-auto">
                    <a href="{% url 'pokedex:index' %}">
                        <li class="nav-item mr-4">トップ</li>
                    </a>
                    <a href="{% url 'pokedex:pokemon_list' %}">
                        <li class="nav-item mr-4">図鑑一覧</li>
                    </a>
                    <a href="{% url 'pokedex:config' %}">
                        <li class="nav-item mr-4">設定</li>
                    </a>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        {% block content %}
            {{ content }}
        {% endblock %}
    </div>
    <script>
        function sound(){
            $('#voice').get(0).play() ;
        }
    </script>
</body>

</html>