<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>RearCamera</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <!-- <link rel="stylesheet" href="index.css" /> -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        body {
            margin: 0;
            background: #000;
        }

        #video {
            display: block;
            width: 100%;
        }
    </style>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>

<body>
    <video id="video" autoplay playsinline></video>
    <div class="d-flex">
        <button class="btn" style="background-color: rgb(119, 3, 3);" type="button" id="shutter2">　　　</button>
        <form ml-auto>
            <button class="btn btn-primary" type="button" id="shutter">　　　</button>
        </form>
    </div>
    <!-- <script src="index.js"></script> -->
    <script>
        const medias = {
            audio: false,
            video: {
                facingMode: "user"
                // facingMode: {
                //     exact: "user"
                // }
            }
        };
        const video = document.getElementById("video");
        const promise = navigator.mediaDevices.getUserMedia(medias);

        promise.then(successCallback)
            .catch(errorCallback);

        function successCallback(stream) {
            video.srcObject = stream;
        };

        function errorCallback(err) {
            alert(err);
        };
    </script>
</body>

</html>