{% extends "myapp/base.html" %} {% load static %} {% block title %}{{ pokemon.name_jpn }}の詳細{% endblock title %} {% block content %}
<div id="content">
    <div class="d-flex">
        <div class="col">
            <p>ずかんナンバー　No.{{ pokemon.number }}</p>
            <p>{{ pokemon.name_jpn }}</p>
            <p>ぶんるい　{{ pokemon.classification }}ポケモン</p>
        </div>
        <div class="col">
            <img src="{% static ''|add:pokemon.image|slice:'59:' %}" width="64px" height="64px"></img>
            <!-- <figure style="background-color: gray; height: 150px; width: 150px; color: #fff; line-height: 150px; text-align: center;">画像</figure> -->
        </div>
    </div>
    <div class="d-flex">
        <div class="col">
            <p>たかさ　：　{{ pokemon.height }}m</p>
        </div>
        <div class="col">
            <p>おもさ　：　{{ pokemon.weight }}kg</p>
        </div>
    </div>

    <!-- 音声を再生する部分 -->
    <button onClick="sound()"><img src="{% static '/myapp/images/icon_play.png' %}" /></button>
    <audio id="voice" pleload="auto">
        <source src="{% static ''|add:pokemon.voice|slice:'59:' %}" type="audio/mp3">
    </audio>
    <br><br> ずかんのせつめい
    <div class="card">
        <div class="card-body text-center">{{ pokemon.detail }}</div>
    </div>
</div>
<hr>
<footer>
    <div class="container text-secondary">
        <small>
                <p>ポケットモンスター・ポケモン・Pokémonは<a href="https://www.nintendo.co.jp" target="_blank">任天堂</a>・<a href="http://www.creatures.co.jp" target="_blank">クリーチャーズ・<a href="http://www.gamefreak.co.jp" target="_blank">ゲームフリーク</a>の登録商標です。</a></p>
                <p>当アプリは個人ファンメイドのウェブアプリであり、<a href="http://www.pokemon.co.jp" target="_blank">株式会社ポケモン</a>他企業様とは一切関係ありません。下記はサイト独自の内容に関する著作権を示すものです。</p>
            </small>
    </div>
</footer>
{% endblock content %}