{% extends "myapp/base.html" %}
{% load static %}

{% block title %}トップ{% endblock title %}

{% block content %}
<div id="content">
    <div class="card">
        <h1 class="py-3 px-3">スマホでポケモン図鑑</h1>
        <a class="py-3 px-3" href="{% url 'pokedex:camera' %}">カメラを起動する</a>
        <div class="card py-3 px-3">
            <div class="card-header">アプリの説明</div>

            <!-- ログインしていなければログインボタンを出し、ログイン中はログインユーザー名を出す -->
            {% if user.is_authenticated %}
            {% else %}
            <a href="{% url 'pokedex:login' %}">ログイン</a>
            {% endif %}

            <a href="{% url 'pokedex:select' %}">ファイル選択へ</a>
        </div>
    </div>
</div>
{% endblock content %}