{% extends "myapp/base.html" %} {% load static %} {% block title %}トップ{% endblock title %} {% block content %}
<div class="container" id="content">
    <div class="card">
        <h3 class="card-header py-3 px-3">スマホでポケモン図鑑</h3>
        <a class="py-3 px-3" href="{%url 'pokedex:camera' %}">カメラを起動する</a>
        <div class="card-body py-3 px-3">
            <p>ポケモン図鑑を現実化したファンメイドのウェブアプリです。</p>
            <p>ポケモンの写真をカメラから撮影するか、ファイルから選択することで画像分析を行います。</p>
        </div>
    </div>
    {% if user.is_authenticated %} {{ user.username }}でログイン中 {% else %}
    <a class="btn btn-primary" href="{% url 'login' %}">ログイン</a> {% endif %}
    <div id="guide">
        <div class="d-sm-flex py-sm-3">
            <div class="col px-sm-0">
                <a class="" href="">
                    <button class="btn btn-success py-2">写真を撮る</button>
                </a>
            </div>
            <div class="col px-sm-0">
                <a class="" href="">
                    <button class="btn btn-primary py-2">アルバムから画像を選択</button>
                </a>
            </div>
        </div>
        <div class="d-sm-flex py-sm-3">
            <div class="col px-sm-0">
                <a class="" href="">
                    <button class="btn btn-secondary py-2">ポケモンリスト</button>
                </a>
            </div>
            <div class="col px-sm-0">
                <a class="" href="">
                    <button class="btn btn-warning py-2">設定</button>
                </a>
            </div>
        </div>
    </div>
</div>
<hr>
<footer>
    <div class="container text-secondary">
        <small>
            <p>ポケットモンスター・ポケモン・Pokémonは<a href="https://www.nintendo.co.jp" target="_blank">任天堂</a>・<a href="http://www.creatures.co.jp" target="_blank">クリーチャーズ・<a href="http://www.gamefreak.co.jp" target="_blank">ゲームフリーク</a>の登録商標です。</a></p>
            <p>当アプリは個人ファンメイドのウェブアプリであり、<a href="http://www.pokemon.co.jp" target="_blank">株式会社ポケモン</a>他企業様とは一切関係ありません。下記はサイト独自の内容に関する著作権を示すものです。</p>
        </small>
        <p>&copy; 2021 スマホでポケモン図鑑</p>
    </div>
</footer>
{% endblock content %}