{% extends "myapp/base.html" %}
{% load static %}
{% load filter %}

{% block title %}ポケモン一覧{% endblock title %}

{% block content %}
<div id="content">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ナンバー</th>
                <th scope="col">ポケモン名</th>
                <th scope="col">画像</th>
                <th scope="col">判別</th>
            </tr>
        </thead>
        <tbody>
            {% for poke in poke %}
            {% if pred|get_name:poke.name_eng %}
            <tr>
                <th scope="row">No.{{ poke.number }}</th>
                <td><a href="{% url 'pokedex:detail' id=poke.id %}">{{ poke.name_jpn }}</a></td>
                <td><img src="/media/{{ pred|get_name:poke.name_eng }}"
                        style="width:64px;height:64px;object-fit:cover;" /></td>
                <td><img src="/media/images/get_icon.png" width='28px' height='28px' /></td>
            </tr>
            {% else %}
            <tr>
                <th scope="row">No.???</th>
                <td>？？？？？</td>
                <td><img src="/media/images/no_image.png" width='64px' height='64px' /></td>
                <td><img src="/media/images/get_icon.png" width='28px' height='28px' style="opacity: 20%;" /></td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}