{% extends "myapp/base.html" %} {% load static %} {% block title %}ポケモン一覧{% endblock title %} {% block content %}
<div id="content">
    <div class="inline-group">
        {% for pokemon in pokemon %}
        <p class="input-group list-group-item py-3">No.{{ pokemon.number }} {{ pokemon.name_jpn }} <span class="list-group-item" style="display: inline-block;"><img src="{% static ''|add:pokemon.image|slice:'59:' %}" width='28px' height='28px' /></span> <a href="{% url 'pokedex:detail' id=pokemon.id %}">詳しく</a>            見つけた</p>
        {% endfor %}
    </div>
</div>
<hr>
<footer>
    <div class="container text-secondary">
        <small>
                <p>ポケットモンスター・ポケモン・Pokémonは<a href="https://www.nintendo.co.jp" target="_blank">任天堂</a>・<a href="http://www.creatures.co.jp" target="_blank">クリーチャーズ・<a href="http://www.gamefreak.co.jp" target="_blank">ゲームフリーク</a>の登録商標です。</a></p>
                <p>当アプリは個人ファンメイドのウェブアプリであり、<a href="http://www.pokemon.co.jp" target="_blank">株式会社ポケモン</a>他企業様とは一切関係ありません。下記はサイト独自の内容に関する著作権を示すものです。</p>
            </small>
    </div>
</footer>
{% endblock content %}